BasedOnStyle: Google

# Prefer "int& foo" to "int &foo".
DerivePointerAlignment: false
PointerAlignment: Left

# Sort individual blocks of includes with empty line inbetween blocks.
IncludeBlocks: Preserve
IncludeCategories:
  # Public project include files
  - Regex:    '^<lockables/[[:alpha:]_]+\.hpp>'
    Priority: 2
  # C++ Standard Library
  - Regex:    '^<[[:alpha:]_]+>'
    Priority: 3
  # C Standard Library
  - Regex:    '^<[[:alnum:].]+>'
    Priority: 4
  # Everything else, third party library headers
  - Regex:    '.*'
    Priority: 1
